<header>
  <section>
    <h1><i class="fa fa-wallet"></i> BANCO</h1>
  </section>
</header>
<section class="body">
  <div class="container">
    <div class="top-bar">
      <div class="search-bar">
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (input)="onSearch()"
          placeholder="Search..."
        />
      </div>
      <div class="create-product-button">
        <!-- <button (click)="goToCreateProduct()">Crear Producto</button> -->
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th class="table-logo">Logo</th>
              <th style="width: 20%">Nombre del producto</th>
              <th style="width: 25%">Descripción</th>
              <th style="width: 20%">Fecha de liberación</th>
              <th style="width: 25%">Fecha de reestructuración</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let product of filteredProducts | slice : 0 : itemsPerPage
              "
            >
              <td>
                <div class="div-cont-logo">
                  <img [src]="product.logo" alt="Logo" class="product-logo" />
                </div>
              </td>
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.date_release | date : "dd/MM/yyyy" }}</td>
              <td>{{ product.date_revision | date : "dd/MM/yyyy" }}</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination">
          <div class="left">
            <p>{{ filteredProducts.length }} Resultados</p>
          </div>
          <div class="right">
            <select
              id="itemsPerPage"
              [(ngModel)]="itemsPerPage"
              
            >
              <option *ngFor="let option of [5, 10, 15, 20]" [value]="option">
                {{ option }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>